a{
	color:#60F;
	text-decoration:none;

}
#catalogue td:hover{
	background-color:#F3F;
}#up {
	font-size: 12px;
}
#footframe {
	background-color: #6FC;
	height: 80px;
	width: 1024px;
	color: #039;
	font-family: "黑体";
	font-size: 24px;
	background-position: center;
	margin-right: auto;
	margin-left: auto;
	clear:both;
}
#me {
	width: 1024px;
	height: 600px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#me #me-left {
	float: left;
	width: 700px;
	height: 600px;
}
#me #me-right {
	float: left;
	width: 324px;
	height: 600px;
	font-family: "黑体";
}
#img11{
	float:left;
}
#img1{
	float:left;
	width:724;
	height:300;
}
#img22{
    width:500;
	height:231;
	float:left;
}
#img2{
	width:524;
	height:200;
}
